.App {
	display: flex;
	font-family: "Roboto Mono", serif;
}

.heart {
	width: 30px;
  aspect-ratio: 1/1;
	position: absolute;
  top: 15px;
  right: 100px;
}

.cart {
	width: 30px;
  aspect-ratio: 1/1;
	position: absolute;
  top: 15px;
  right: 30px;
}
